<!DOCTYPE html>
<html>
<head>
	<title>Survey Form</title>
</head>
<body>
    <h2>Submtted Information:</h2>
    <hr>
        <h3>Name: <%= survey.name %></h3>
        <h4>Location: <%= survey.location %></h4>
        <h4>Favorite Language: <%= survey.language %></h4>
        <h4>Comment:</h4> 
        <p><%= survey.comment %></p>
        <hr>
</body>
</html>